<h1>Contacts</h1>

<table class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>ID</th>
          <th>E-mail</th>
          <th>Message</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {{!-- calls model here --}}
    {{#each model as |contact|}}
        <tr>
            <th>{{contact.id}}</th>
            <td>{{contact.email}}</td>
            <td>{{contact.message}}</td>
            <td {{action 'deleteContact' contact}}>Delete</td>
        </tr>
    {{/each}}

    </tbody>
</table>