<h2>Stores</h2>

<div class="well">
    <ul class="nav nav-pills">
      {{#link-to 'stores.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
      {{#link-to 'stores.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
    </ul>
</div>


<div class="row">
  {{#each model as |store|}}
    <div class="col-md-2">
      {{store.name}}
      {{#link-to 'stores.edit' store.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
        <button class="btn btn-danger btn-xs" {{action 'deleteStore' store}}>Delete</button>
    </div>
  {{/each}}
</div>