<head>
  <link rel="stylesheet" href="main.css">
  <link href="toastr.css" rel="stylesheet"/>
</head>
<body>
   <%- markup %>
   
  <div id="app">
    
  </div>

  <div class="footer">
    <p> footer </p>
  </div>

  <script src="app.js"></script>
</body>