body {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  background: url(pyramid.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tower {
  display: inline-block;
  width: 250px;
  height: 282px;
  border: 1px dashed black;
  text-align: center;
  margin: 0 10px;
}

.tower .pole {
  width: 50px;
  height: 75%;
  background: lightgrey;
  position: relative;
  bottom: -50px;
  left: 39%;
}

.ring {
  width: 200px;
  height: 25px;
  border: 1px solid black;
  z-index: 100;
  margin: auto;
  bottom: -25px;
  position: relative;
  top: 175px;
}

.ring-1 {
  background: red;
}

.ring-2 {
  background: blue;
  width: 150px;
}

.ring-3 {
  background: green;
  width: 100px;
}

.ring-4 {
  background: orange;
  width: 50px;
}


.container-notifications {
  position: fixed;
  left: -15px;
  /*display: none;*/
  z-index: 2;
  width: 100%;
  top: 0px;
}

.flag.note {
  display: none;
  width: inherit;
  position: absolute;
  z-index: 2;
  top: 0;
  font-size: 1.5em;
  padding: 0;
}


.big-on-hover {
  transform: scale(1, 1);
}
.big-on-hover:hover {
  transform: scale(1.2, 1.2);
}

/**
* Reusable single-direction margin declaration

.margin, p, .flag {
  margin-top: 0;
  margin-bottom: 24px;
}
.margin:last-child, p:last-child, .flag:last-child {
  margin-bottom: 0;
}

/**
* Flag Object
* Original Source: http://csswizardry.com/2013/05/the-flag-object/
*/
.flag {
  display: table;
}

.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;
}
.flag--top .flag__image, .flag--top
.flag__body {
  vertical-align: top;
}
.flag--bottom .flag__image, .flag--bottom
.flag__body {
  vertical-align: bottom;
}

.flag__image {
  padding-right: 24px;
}
.flag__image > img {
  display: block;
  max-width: none;
}
.flag--rev .flag__image {
  padding-right: 0;
  padding-left: 24px;
}

/**
* Notification Styles
*/
.note {
  position: relative;
  overflow: hidden;
  color: white;
  background-color: #9b59b6;
}

.note--secondary {
  background-color: #34495e;
}

.note--success {
  background-color: #27ae60;
}

.note--warning {
  background-color: #f39c12;
}

.note--error {
  background-color: #e74c3c;
}

.note--info {
  background-color: #3498db;
}

.note__icon,
.note__text {
  padding: 24px;
}

.note__icon {
  min-width: 80px;
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.note__text {
  padding-right: 48px;
}

.note__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 29px;
  line-height: 30px;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.25s;
}
.note__close:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.note:hover .note__close {
  opacity: 1;
}

/*@media only screen and (max-width: 1010px) {
  .flag {
    width: 100% !important;
  }
}*/

/*needs refactoring*/

.conf-cont {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  overflow: hidden;
  display: none;
}

.confetti {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #f00;
  opacity: 0.0;
  -webkit-animation-name: fallsway;
          animation-name: fallsway;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.confetti:nth-child(1) {
  z-index: 1;
  -webkit-animation-name: fallsway1;
          animation-name: fallsway1;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  background-color: #5ba28d;
}
.confetti:nth-child(2) {
  z-index: 2;
  -webkit-animation-name: fallsway2;
          animation-name: fallsway2;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  background-color: #abc02c;
}
.confetti:nth-child(3) {
  z-index: 3;
  -webkit-animation-name: fallsway3;
          animation-name: fallsway3;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  background-color: #568f38;
}
.confetti:nth-child(4) {
  z-index: 4;
  -webkit-animation-name: fallsway4;
          animation-name: fallsway4;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  background-color: #e9ca67;
}
.confetti:nth-child(5) {
  z-index: 5;
  -webkit-animation-name: fallsway5;
          animation-name: fallsway5;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background-color: #5cc860;
}
.confetti:nth-child(6) {
  z-index: 6;
  -webkit-animation-name: fallsway6;
          animation-name: fallsway6;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  background-color: #8584c6;
}
.confetti:nth-child(7) {
  z-index: 7;
  -webkit-animation-name: fallsway7;
          animation-name: fallsway7;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  background-color: #e517a4;
}
.confetti:nth-child(8) {
  z-index: 8;
  -webkit-animation-name: fallsway8;
          animation-name: fallsway8;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  background-color: #697480;
}
.confetti:nth-child(9) {
  z-index: 9;
  -webkit-animation-name: fallsway9;
          animation-name: fallsway9;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  background-color: #cc79f8;
}
.confetti:nth-child(10) {
  z-index: 10;
  -webkit-animation-name: fallsway10;
          animation-name: fallsway10;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background-color: #a84508;
}
.confetti:nth-child(11) {
  z-index: 11;
  -webkit-animation-name: fallsway11;
          animation-name: fallsway11;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  background-color: #09bf89;
}
.confetti:nth-child(12) {
  z-index: 12;
  -webkit-animation-name: fallsway12;
          animation-name: fallsway12;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  background-color: #7eb7fc;
}
.confetti:nth-child(13) {
  z-index: 13;
  -webkit-animation-name: fallsway13;
          animation-name: fallsway13;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  background-color: #d96384;
}
.confetti:nth-child(14) {
  z-index: 14;
  -webkit-animation-name: fallsway14;
          animation-name: fallsway14;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  background-color: #4d786f;
}
.confetti:nth-child(15) {
  z-index: 15;
  -webkit-animation-name: fallsway15;
          animation-name: fallsway15;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: #a0483f;
}
.confetti:nth-child(16) {
  z-index: 16;
  -webkit-animation-name: fallsway16;
          animation-name: fallsway16;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  background-color: #fe51e3;
}
.confetti:nth-child(17) {
  z-index: 17;
  -webkit-animation-name: fallsway17;
          animation-name: fallsway17;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
  background-color: #d25c9f;
}
.confetti:nth-child(18) {
  z-index: 18;
  -webkit-animation-name: fallsway18;
          animation-name: fallsway18;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
  background-color: #ac5b4d;
}
.confetti:nth-child(19) {
  z-index: 19;
  -webkit-animation-name: fallsway19;
          animation-name: fallsway19;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
  background-color: #40fa8c;
}
.confetti:nth-child(20) {
  z-index: 20;
  -webkit-animation-name: fallsway20;
          animation-name: fallsway20;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  background-color: #478210;
}

@-webkit-keyframes fallsway1 {
  0% {
    top: -5%;
    left: 43%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 84%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 72%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}

@keyframes fallsway1 {
  0% {
    top: -5%;
    left: 43%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 84%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 72%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway2 {
  0% {
    top: -5%;
    left: 55%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 40%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 32%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway2 {
  0% {
    top: -5%;
    left: 55%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 40%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 32%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway3 {
  0% {
    top: -5%;
    left: 53%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 26%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 51%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway3 {
  0% {
    top: -5%;
    left: 53%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 26%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 51%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway4 {
  0% {
    top: -5%;
    left: 30%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 68%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 21%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway4 {
  0% {
    top: -5%;
    left: 30%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 68%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 21%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway5 {
  0% {
    top: -5%;
    left: 71%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 82%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 4%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway5 {
  0% {
    top: -5%;
    left: 71%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 82%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 4%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway6 {
  0% {
    top: -5%;
    left: 5%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 16%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 25%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway6 {
  0% {
    top: -5%;
    left: 5%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 16%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 25%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway7 {
  0% {
    top: -5%;
    left: 1%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 59%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 85%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway7 {
  0% {
    top: -5%;
    left: 1%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 59%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 85%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway8 {
  0% {
    top: -5%;
    left: 20%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 75%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 15%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway8 {
  0% {
    top: -5%;
    left: 20%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 75%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 15%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway9 {
  0% {
    top: -5%;
    left: 32%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 5%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 16%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway9 {
  0% {
    top: -5%;
    left: 32%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 5%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 16%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway10 {
  0% {
    top: -5%;
    left: 95%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 26%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 56%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway10 {
  0% {
    top: -5%;
    left: 95%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 26%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 56%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway11 {
  0% {
    top: -5%;
    left: 73%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 65%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 60%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway11 {
  0% {
    top: -5%;
    left: 73%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 65%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 60%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway12 {
  0% {
    top: -5%;
    left: 59%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 53%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 24%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway12 {
  0% {
    top: -5%;
    left: 59%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 53%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 24%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway13 {
  0% {
    top: -5%;
    left: 76%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 47%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 50%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway13 {
  0% {
    top: -5%;
    left: 76%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 47%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 50%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway14 {
  0% {
    top: -5%;
    left: 94%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 14%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 26%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway14 {
  0% {
    top: -5%;
    left: 94%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 14%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 26%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway15 {
  0% {
    top: -5%;
    left: 19%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 79%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 68%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway15 {
  0% {
    top: -5%;
    left: 19%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 79%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 68%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway16 {
  0% {
    top: -5%;
    left: 7%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 91%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 46%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway16 {
  0% {
    top: -5%;
    left: 7%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 91%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 46%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway17 {
  0% {
    top: -5%;
    left: 36%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 23%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 79%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway17 {
  0% {
    top: -5%;
    left: 36%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 23%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 79%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway18 {
  0% {
    top: -5%;
    left: 24%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 10%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 28%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway18 {
  0% {
    top: -5%;
    left: 24%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 10%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 28%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway19 {
  0% {
    top: -5%;
    left: 25%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 43%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 12%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway19 {
  0% {
    top: -5%;
    left: 25%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 43%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 12%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway20 {
  0% {
    top: -5%;
    left: 80%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 49%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 95%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@keyframes fallsway20 {
  0% {
    top: -5%;
    left: 80%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  25% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  50% {
    left: 49%;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
  75% {
    left: 100% -random(105);
    -webkit-transform: skew(30deg);
            transform: skew(30deg);
  }
  100% {
    top: 100%;
    left: 95%;
    opacity: 1.0;
    -webkit-transform: skew(-30deg);
            transform: skew(-30deg);
  }
}
@-webkit-keyframes fallsway {
  0% {
    top: -10%;
    left: 92%;
    opacity: 1.0;
  }
  25% {
    left: 70%;
  }
  50% {
    left: 11%;
  }
  75% {
    left: 48%;
  }
  100% {
    top: 110%;
    left: 15%;
    opacity: 1.0;
  }
}
@keyframes fallsway {
  0% {
    top: -10%;
    left: 92%;
    opacity: 1.0;
  }
  25% {
    left: 70%;
  }
  50% {
    left: 11%;
  }
  75% {
    left: 48%;
  }
  100% {
    top: 110%;
    left: 15%;
    opacity: 1.0;
  }
}
