<div class="form-horizontal form-group form-group-lg row">
  {{#if flashMessage}}
      <div class="alert alert-success">{{flashMessage}}</div>
  {{/if}}

  {{partial 'places/index'}}
  <br/><br/>
</div>
